*{
    padding: 0;
    margin: 0;
    height: 70px;
}
.header{
    background-color: #5769c1;
}
.search{
  width: 500px; 
  height: 26px;
  margin-left: 200px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius:5px;
  border: none;
  padding: 5px 10px;
}
.login-btn{
  width: 100px;
  height: 35px;
  margin-top: 20px;
  border-radius:5px;
  border: none;
  font-size: 15px;
}
.login-btn:hover{
    background-color:#293570;
    color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.phone-container{
    height: 550px;
    width: 700px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    background-color: #5769c1;
}
.details{
    height: 550px;
    width: 800px;
    margin: 30px auto;
    background-color: #c7cdea;
}
.small-img{
    display:flex;
    flex-direction:column;
    margin-left: 20px;
    height: 550px;
    width: 150px;
}
.p-image{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin: 10px auto;
    margin-left:30px;
    cursor: pointer;
}
.p-image:hover{
    box-shadow: 0px 0px 15px 5px rgba(26, 35, 73, 0.8);
}
.big-img{
    height: 400px;
    width: 400px;
    margin: 30px auto;
    border-radius: 10px;
    margin-left:60px;
}
.buy-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    margin-left: 70px;
    margin-top: -10px;
}
.buy-btn{
    width: 150px;
    height: 50px;
    margin: 10px auto;
    font-size: 18px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buy-btn:hover{
    background-color:#00004d;
    color:#ffcc00 ;
    box-shadow: 0 0 9px 5px rgb(132, 132, 181);
}
.phone-name{
  font-size: 27px;
  margin-top: 20px;
  margin-left: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.text-1{
    font-size: 15px;
    margin-left: 20px;
    height: fit-content;
    margin-top: 10px;
}
.text-2{
    font-size: 25px;
    margin-top:10px;
    margin-left: 20px;
    height: fit-content;
}
.detail-btn{
    margin-left: 20px;
}
.detail-btn:hover{
    background-color:#00004d;
    color:#ffcc00 ;
    box-shadow: 0 0 9px 5px rgb(132, 132, 181);
}
